# macOS
.DS_Store

# Environment
.env
!.env.example
setup-lab4-aiven.ps1

# Dependencies
vendor/
app/vendor/
composer.lock

# Cache & Logs
runtime/*
!runtime/.htaccess
!runtime/index.html
*.log
*.cache

# IDE
.idea/
.vscode/
*.sublime-*

# OS
Thumbs.db
